/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}
/***/

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

/************************/

html {
    height: 100%;
    width: 100%;
    font-family: "Times New Roman";
    font-size: 16px;
    background: #f0f0f0;
}
body {
    height: 100%;
}
a {
	text-decoration: none;
}
a:link {
    color: #000000;
}
a:visited {
    color: #000000;
}
a:hover {
    color: #000000;
}
a:active {
    color: #000000;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    cursor: default;
}
.bold {
    font-weight: bold;
}
.clear {
    clear: both;
}

.header {
	width: 100%;
	text-align: center;
	font-size: 200%;
	line-height: 150%;
}
.progress {
	width: 100%;
	text-align: center;
	color: #0099ff;
	font-size: 160%;
	line-height: 130%;
}
.button {
	background: #e0e0e0;
	line-height: 120%;
	width: 100%;
	margin: 0;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	text-align: center;
	padding: 15px 0;
	font-size: 200%;
	line-height: 150%;
}
.button:active, .button:hover {
	background: #d0d0d0;
}
.message {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	font-size: 160%;
	line-height: 130%;
}

.package_list {
	width: 100%;
	text-align: center;
}
.package_list_entry {
	width: 100%;
    text-align: center;
    background: #d0d0d0;
    box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,1);
	padding: 10px 0;
	float: left;
	font-size: 160%;
	line-height: 130%;
}
.package_list_entry:active, .package_list_entry:hover {
	background: #c0c0c0;
}
.package_list_entry.selected {
	background: #c0c0c0;
}