/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}
/****************************************/
html {
    height: 100%;
    width: 100%;
    font-family: "Times New Roman";
}
body {
    height: 100%;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    cursor: default;
}
.bold {
    font-weight: bold;
}
.clear {
    clear: both;
}

.container {
    position: relative;
    width: 100%;
    top: 0;
    min-height:100%;
    background: #f0f0f0;
}
.images_wrapper {
    position: relative;
    width: 100%;
}
/***************/
/* control bar */
/***************/
.controls {
    width: 100%;
    height: 120px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #e0e0e0;
}
.button {
    width: 25%;
    height: 120px;
    box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,1);
    text-align: center;
    line-height: 120px;
    float: left;
    font-size: 200%;
}
.disabled {
    color: #606060;
    background: #d0d0d0;
}
.slide_list {
    position: fixed;
    bottom: 120px;
    left: 25%;
    right: 50%;
}
.slide_list_entry {
    float: left;
    width: 100%;
    font-size: 120%;
    height: 58px;
    line-height: 58px;
    text-align: center;
    background: #d0d0d0;
    box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,1);
}
/*********/
/* image */
/*********/
.base_layer {
    float: left;
    width: 100%;
}
.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
/***********/
/* textbox */
/***********/
.textbox_wrapper {
    position: fixed;
    top: 0px;
    bottom: 120px;
    left: 0px;
    width: 100%;
}
.textbox {
    position: absolute;
    top: 30px;
    right: 30px;
    left: 30px;
    bottom: 30px;
    background: #e0e0e0;
    box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,1);
}
.textbox_title {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    line-height: 60px;
    background: #e0e0e0;
    font-size: 160%;
    padding: 0 15px;
    box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,1);
}
.textbox_controls {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 250%;
    font-family: sans-serif;
    background: #d0d0d0;
    color: #ff0000;
    box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,1);
}
.textbox_content {
    position: absolute;
    top: 60px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    color: #000000;
    padding: 10px;
    font-size: 120%;
}
/*********/
/* label */
/*********/
.label {
    position: absolute;
    overflow: hidden;
}
/* switched 1vh/1vw -> 8px */
.label_marker {
    width: 100%;
    height: 4px;
    margin-bottom: 8px;
}
.llabel_marker {
    float: left;
}
.rlabel_marker {
    float: left;
}
.label_dot {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: #000000; 
}
.llabel_dot {
    float: left;
}
.rlabel_dot {
    float: right;
}
.label_line {
    width: 82%;
    height: 4px;
    margin: 2px 0;
    background: #000000; 
}
.llabel_line {
    margin-left: 4px;
    float: left;
}
.rlabel_line {
    margin-right: 4px;
    float: right;
}
.label_text {
    font-size: 150%;
    color: #000000;
}
.llabel_text {
    float: left;
}
.rlabel_text {
    float: right;
    text-align: right;
}